<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="1" width="80%">
    <tr>
        <th>用户编号</th>
        <th>登陆账号</th>
        <th>登陆密码</th>
        <th>用户名称</th>
        <th>移动电话</th>
        <th>邮件地址</th>
        <th>用户性别</th>
        <th>创建用户</th>
        <th>修改用户</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>用户状态</th>
    </tr>
    <tr th:each="c:${user}">
        <td th:text="${c.Id}"></td>
        <td th:text="${c.LoginId}"></td>
        <td th:text="${c.Password}"></td>
        <td th:text="${c.Name}"></td>
        <td th:text="${c.Mobile}"></td>
        <td th:text="${c.Email}"></td>
        <td th:text="${c.Sex}"></td>
        <td th:text="${c.CreateUserId}"></td>
        <td th:text="${c.ModifyUserId}"></td>
        <td th:text="${c.CreateTime}"></td>
        <td th:text="${c.ModifyTime}"></td>
        <td th:text="${c.Status}"></td>
    </tr>
</table>
</body>
</html>